.full-width {
  width: 100%;
}

.gateway{
  &__row {
    display: flex;
    flex-direction: row;
  }

  &__col {
    flex: 1;
    margin-right: 20px;
  }
}

// util - TODO: move to util scss file
.mt-2 {
  margin-block-start: 18px;
}
